@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<h1>Hello, world!</h1>

Welcome to our team new app.

<SurveyPrompt Title="How is Clean Task working for you?" />

<AuthorizeView>
    <Authorized>
        <h2>Welcome @context.User.FindFirst(ClaimTypes.GivenName).Value </h2>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/authentication/login" Class="mt-lg-2 ml-2" >Login</MudButton>
    </NotAuthorized>
</AuthorizeView>